ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    margin-top: 30px;
    max-width: 1400px;
    width: 100%;
    overflow: hidden;
    background: #ee9085;
    border-radius: 2rem;
    padding: 8rem 2rem;
}

.title {
    font-weight: bold;
    color: #bd2328;
    font-size: 1.17em;
}

hr {
    background-color: #bd2328;
    border: none;
    height: 1px;
    margin: 2rem 1rem;
}

.numbers {
    grid-gap: 2rem;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
}

.numbers li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers li h3 {
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    color: #bd2328;
    font-size: 2.5rem;
    font-weight: 300;
}

.numbers li span {
    font-size: 1rem;
    color: #bd2328;
}

.links {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    padding: 5rem 0 0 3rem;
}

.links span {
    color: #bd2328;
}

.links__title {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1.17em;
    color: #bd2328;
}

.links__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 1rem;
}

.links__list a {
    color: #dd4045;
}

.description {
    max-width: 670px;
    width: 100%;
    padding: 3rem;
}

.description h2 {
    font-weight: 300;
    margin: .3rem 0;
    font-size: 1.5em;
    color: #bd2328;
}

.description p {
    font-size: 1rem;
    color: #bd2328;
}

.description p a {
    color: #ec2c2f;
}

.description ul {
    margin: 1rem 0;
}

.description ul li {
    font-size: 1rem;
    color: #bd2328;
}

.description ul li a {
    color: #ec2c2f;
}

@media (max-width: 768px) {

    .numbers {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {

    .container {
        padding: 50px 20px;
    }

    .links, .description {
        padding-left: 0;
        padding-right: 0;
    }

    .numbers {
        grid-template-columns: 1fr;
    }
}