.infinite_scroll_facts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px 5px;
}

@media screen and (max-width: 768px) {
  .infinite_scroll_facts{
    grid-template-columns: 1fr;
  }
}
