.infinite_scroll_beans {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px 5px;
}

.infinite_scroll_beans a {
    width: 100%;
}

.infinite_scroll_beans a::after {
    display: none;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .infinite_scroll_beans {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 480px) {
    .infinite_scroll_beans {
        grid-template-columns: 1fr;
        gap: 30px 0;
    }
}